@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

body {
   display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  flex-wrap: wrap; 
  width: 100%; 
  background: #1f1f1f;
  font-family: "Montserrat", sans-serif !important;

  /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
}

/*** Blogs Section ***/
#blogs {
    display: flex;
    flex-direction: column;
    /* padding: 0px 120px; */
    justify-content: center;
    align-items: center;
    /* background: url(/img/svg/svg3.svg) no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 15%; */
  }
  
  #blogs h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    justify-content: center;
    font-weight: 400;
  }
  
  #blogs p {
    font-family: "Montserrat", sans-serif;
    padding: 40px;
    color: white;
    justify-content: center;
    text-align: center;
  }
  
  .container{
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto;
    
  }
  
  .container .card{
    /* position: relative; */
    width: 380px;
    height: 460px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.205);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    /* overflow: hidden; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    /* backdrop-filter:blur(4px); */
  }
  
  .container .card .content{
    /* padding: 10px; */
    text-align: center;
    opacity: 1;
    transition: 0.3s;
  }
  
  .card > .content > h3{
    margin-top: 2em;
    color:white;
    font-family: "Montserrat", sans-serif;
    padding: 8px;
  }
  .card > .content > .imgdiv img{
    border-radius: 15px;
    margin-top: 2em;
    width: 300px;
    font-family: "Montserrat", sans-serif;
  }
  .btn-div{
    margin:50px 9px;
}
.btn-event{
  border-radius: 5px;
  color: #20D6EC;  ;
  text-decoration: none;
  padding: 10px 100px;
  /* margin:20px;
  margin-top: 50px; */
  font-family: "Montserrat", sans-serif;
  width: 50px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.205);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.btn-event:hover{
  background: rgba(0, 0, 0, 0.205);
  cursor: pointer;
}


/* FOOTER */
body{
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.containers{
	/* max-width: 1170px;
   */
   width: 100%;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
  width: 100%;
  margin-top: 50px;
  padding: 45px 0;
  height: 300px;
}
.footer-col{
   width: 50%;
   padding: 0px 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  left:26%;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links{
  padding: 0 9rem;
}
.footer-col .social-links a{
	display: inline-block;
	height: 45px;
	width: 45px;
	background-color: rgba(255,255,255,0.2);
	margin:0 20px 20px 0;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-hr{
  margin-top: 15px;
  
}

.footer-hr h5{
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
	font-weight: 500;
	position: relative;
}

@media screen and (max-width: 1400px) {
  .container{
  display: grid;
  grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 900px) {
  .container{
  display: grid;
  grid-template-columns: auto;
  }
}
@media screen and (max-width: 500px) {
  .container .card {
     width: 340px;
  }
}
