@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body
 {
     background: #1e1e1e;
    /* background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30% ,#03a9f5 100%); */
 }

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUs .title h2{
    color: white;
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
grid-area: map;
}

.contact{
    padding:40px;
    background-color: white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
    "form info" 
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: black;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */
.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: black ;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding:10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding:10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: #ff578b;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    border-radius: 20px;
}

.inputBox ::placeholder{
    color: #999;
}

/* info*/
.info{
   background: black; 
}

.info h3{
    color: white;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 0.801);
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 50px;
}

.info .infoBox div p{
    color: white;

}
.info .infoBox div a{
    color: white;
    text-decoration: none;
}

.sci{
    margin-top: 40px;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: white;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover{
    color: white;
}

.map{
    padding:0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/* Status*/

#status{
    width: 40%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 20px;
}

#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 3s ease forwards;
}

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


/* Responsiveness*/

@media screen and (max-width:900px)
{

    .contactUs{
        padding:20px;
    }
    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" 
        "info" 
        "map";
    }

    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox
    {
        width: 100%;
    }
    .contact
    {
        padding:30px;
    }
    .map{
        min-height: 300px;
        padding: 0;
    }
}

@media screen and (max-width:500px)
{
    body{
        position: absolute;;
    }

    .box{
        grid-template-columns: 5fr;
    }

    .form
    {
        width: 100%; 
    }

    .contact .info {
        padding: 10px;
    }

    .contact .map{
        width: 77%;
    }
    .infoBox{
        width: 77%;
        
    }
}