/* FOOTER*/
/* body{
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} */
/* .containers{

} */
.footer {
  background-color: black;
  width: 100%;
  margin-top: 50px;
  padding: 30px 0;
  /* height: 250px; */
}
.row {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* ul {
  list-style: none;
} */
.footer img {
  width: 100px;
}

.footer-col {
  /* width: 30rem; */
  /* text-align: center; */
  text-align: center;
  margin: auto;
  padding: 0px 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  /* text-transform: capitalize; */
  margin-bottom: 25px;
  /* margin-left: 35px; */
  width: 151px;
  padding-bottom: 5px;
  border-bottom: 2px solid #e91e63;
  font-weight: 500;
  position: relative;
  /* left:26%; */
}

/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
} */
/* .footer .connect h4{
	margin-left: 138px;
} */
.footer .contact h4 {
  width: 104px;
}

.footer .contact div {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer .contact a{
	/* border: 2px solid #e91e63; */
	background: #51a3d2;
	padding: 4px 5px;
	border-radius: 10px;
	color: white;
	text-decoration: none;

}
.footer .contact a:hover{
	background: #7ec1eb;
	color: rgb(31, 31, 30);
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

/* .footer-col .social-links{
  padding: 0 100px;
} */
.footer-col .social-links a {
  display: inline-block;
  height: 45px;
  font-size: 24px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 20px 20px 0;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-hr {
  margin-top: 15px;
}

.footer-hr h5 {
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .row {
    grid-template-columns: auto;
    /* text-align: center; */
  }
  .footer {
    margin: auto;
  }
  .footer-col .social-links {
    margin-left: -105px;
  }
  .footer-col {
    width: 300px;
    margin-top: 20px;
  }
}
