@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  background-color: #1f1f1f;
  word-wrap: break-word;
  font-family:'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body {
    min-height: 100%;
 
}


.login-root {
    background-color: rgb(39, 38, 38);
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.loginbackground {
    min-height: 662px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}
.flex-flex {
    display: flex;
}
.align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
    box-sizing: border-box;
}
.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}
/* .loginbackground-gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
} */
.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}
.box-background--blue {
    background-color: #5469d4;
}
.box-background--white {
  background-color: #ffffff;
}
.box-background--blue800 {
    background-color: #212d63;
}
.box-background--gray100 {
    background-color: #e3e8ee;
}
.box-background--cyan200 {
    background-color: #7fd3ed;
}
.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
  background-color: #323231;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding-bottom: 15px;
}


.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  
    margin: 2% auto 1%;
    width: 100%;
    color: white;
    max-width: 648px;
    /* height: 530px; */
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: white;
}
label {
    margin-bottom: 10px;
    color: white;
    font-size: 2em;
    background-color: #323231;
}

.reset-pass a,label {
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
}
.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.det1 .field input  , select  {
    font-size: 16px;
    margin-right: 8%;
    line-height: 28px;
    padding: 8px 23px;
    width: 90%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.det2 .field input , select{
  
  font-size: 16px;
    margin-right: 8%;
    line-height: 28px;
    padding: 8px 24px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.detail{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: auto auto;
  background-color: #323231;
}
.det1{
  margin-left: 3%;
  background-color: #323231;

}

#opt{ 
background: white;
}

.sub{
  width: 135px;
   background: none ;
   border: 2px solid #E7A84B;
   margin:20px 38%;
    text-align: center;
    font-weight: 800;   
    padding: 11px 0px;
    color: white; 
    /* margin-left: 40%; */
    font-size: 20px; 
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}
input[type="submit"] {
    background :none;
    color: #E7A84B;
    border: 2px solid #E7A84B;
    margin: 25px 35% 0;
    /* padding: 11px, 0px; */
    width: 30%;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    border-radius: 16px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 8px;
}
.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}
a.ssolink {
    display: block;
    text-align: center;
    font-weight: 600;
}
.footer-link span {
    font-size: 14px;
    text-align: center;
}
.listing a {
    color: #697386;
    font-weight: 600;
    margin: 0 10px;
}

.animationRightLeft {
  animation: animationRightLeft 2s ease-in-out infinite;
}
.animationLeftRight {
  animation: animationLeftRight 2s ease-in-out infinite;
}
.tans3s {
  animation: animationLeftRight 3s ease-in-out infinite;
}
.tans4s {
  animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animationRightLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 900px){
  .detail{
    /* flex-direction: column; */
    grid-template-columns: auto;
  }
  .det2 .field input , select{
  
    font-size: 16px;
      margin-right: 8%;
      line-height: 28px;
      padding: 8px 24px;
      width: 90%;
      min-height: 44px;
  }
  .det2{
    margin-left: 3%;
  }
}
@media screen and (max-width: 500px){
  .sub{
    margin: 35px 32%;
  }
}

@media screen and (max-width: 360px){
  .sub{
    margin: 20px 24%;
  }
}