/* NAVIGATION BAR
  /* NAVIGATION BAR : LOGO & IMAGE */
  #logo {
    margin: 0px 0px;
  }
  
  #logo img {
    height: 75px;
    margin: 10px 25px;
  }


  #navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    z-index: 2;
    /* padding: 16px 0; */
    /* background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.151);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );  */
  }
  /* #navbar ul {
    display: flex;
    flex-direction: column;
  } */
  #navbar ul li a {
    position: relative;
    font-family: "Krona One", sans-serif;
    color: white;
    letter-spacing: 1.5px;
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    font-size: 14px;
  }
  
  #navbar ul li a::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 0%;
    left: 50%;
    height: 4px;
    background: rgb(255, 255, 255);
    transition: 0.3s ease-out;
  }
  
  #navbar ul li a:hover::after {
    left: 0;
    width: 100%;
  }  

.main-nav {
    list-style-type: none;
    display: none;
}


.main-nav li {
    text-align: center;
    margin: 15px auto;
}

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}
.navbar-toggle img
{
  filter: invert(100%);
  margin: 10px;
  height: 40px;
  border: 2px solid black;
  border-radius: 3px;
}

.active {
    display: block;
}
@media screen and (min-width: 978px) {

  .main-nav {
      display: flex;
      flex-direction: row;
      margin-right: 30px;
      justify-content: flex-end;
    } 
  #navbar {
    
    display: flex;
    align-items: center;
  }
  .navbar-toggle {
      display: none;
  }
}