/* @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body .particles  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    width: 100%; 
    height: 100%;
    margin-top: -8rem;
}

.particles {
  position: relative;
  width: 100%;
  height: 100%;
  
}

canvas {
  display: block;
  width: 100%;
  align-items: center;
  height: 100%;
  background-color:#1e1e1e;
  position: relative;
  padding-left:20rem;
}


 .input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
} 

 input {
  float: left;
  width: 40%;
  max-width: 200px;
  padding: 5px;
  border: 1px solid white;
  color: white;
  background-color: blue;
}
 
button {
  height: 0px;
  float: left;
  cursor: pointer;
  background-color: white;
  border: 0;
  padding: 6px;
  padding-top: -50px;
}

