@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-behavior: auto;
}
h1 {
  margin: 20px 0px;
}
body {
  background: #1f1f1f;
  color: white;
  background-size: 100%;
  font-family: "Montserrat", sans-serif !important;
}
.about {
  margin: 9% 10%;
  margin-top: 220px;
  font-size: 23px;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 8%;
}
#btn1,
#btn2 {
  background: #1e1e1e;
  color: #e7a84b;
  border: #e7a84b 2px solid;
  border-radius: 20px;
  padding: 7px 17px;
  margin-right: 17px;
  font-size: 23px;
  cursor: pointer;
}
.abt1 {
  margin-top: 2%;
}
.about-btn {
  margin: 20px 0px;
}
.about-btn button {
  margin-bottom: 20px;
}
.abt1 i {
  color: #e7a84b;
  margin: 0px 4px 0px 10px;
}
img {
  filter: drop-shadow(12px 10px 4px rgba(0, 0, 0, 0.5));
}
.perk1 {
  padding-top: 70px;
  align-items: center;
}
.perk1,
.perk2,
.perk3,
.perk4 {
  /* margin: 19% 10% ; */
  display: grid;
  grid-template-columns: auto auto;
}

.perk1 {
  border: 8px solid transparent;
  border-top-color: white;
  border-bottom-color: #1f1f1f;
  /* background: #335771; */
  margin-top: -5%;
  margin-bottom: 0%;
  align-content: center;
}
.perk3 {
  margin-bottom: 10%;
}

.perk4 {
  border: 8px solid transparent;
  border-bottom-color: white;
  margin-top: -7%;
}

.perk2 {
  margin-top: -10px;
  margin-bottom: 0%;
  align-items: center;
  align-content: center;
}
.con1,
.con3 {
  font-size: 40px;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

.con2 {
  font-size: 40px;
  font-weight: 500;
  margin-left: 10%;
  margin-top: -60px;
  padding-right: 10px;
}
.con4 {
  font-size: 40px;
  font-weight: 500;
  margin-left: 25%;
  margin-top: -60px;
  padding-right: 100px;
}

.img1 {
  margin-top: -20px;
  padding-right: 15px;
  padding-left: 15px;
}
.img2 {
  padding-left: 10px;
}

.img3 {
  padding-right: 100px;
  margin-top: -60px;
  margin-bottom: 100px;
}

.img4 {
  padding-left: 10px;
  margin-top: -180px;
  margin-bottom: 50px;
}


#checkbox {
  padding-right: 10px;
  margin-left: -50px;
}
#reg {
  scroll-behavior: smooth;
  transition: 0.1ms ease linear;

  /* padding-bottom: 20%; */
}
/* .arrow{
  
  text-align: left;
  color: #E7A84B;
  background-color: none;
} */

#arrow {
  height: 100px;
}
.brochure a {
  background-color: none;
  color: none;
  text-decoration: none;
}

.payment {
  margin-top: -40px;
  /* background: #335771; */
  height: 800px;
}

.details {
  text-align: center;
  justify-content: center;
  font-size: 25px;
}
/* h3 {
  text-align: center;
  color: #e7a84b;
  font-size: 40px;
} */
.subb {
  text-align: center;
  margin: 15px 80%;
}
#sub {
  font-size: 30px;
  border-radius: 20px;
}
#name,
#em,
#phn,
#pro,
#Branch,
#year,
#clgn,
#roln {
  width: 20%;
  height: 22px;
  border: 2px white solid;
  outline: none;
  font-size: 17px;
  color: white;
  margin: 10px 30px;
  background: none;
  border-radius: 3px;
}

#pro {
  height: 26px;
}
label {
  width: 100px;
}
.brochure {
  margin-bottom: 10%;
  margin-top: 15px;
}
 .brochure-btn{
   margin: 0;
   top: 0;
} 
#bro {
  margin: 35px 0px;
}
#bro,
#broo {
  font-size: 33px;
  text-align: center;
  font-weight: bold;
}
#broo {
  margin-left: 42.5%;
  color: whitesmoke;
  border: 3px solid #e7a84b;
  border-radius: 20px;
  box-shadow: black 3px 2px 7px;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;

}
#broo:hover {
  box-sizing: border-box;
  color: #e7a84b;
}

.refund {
  font-size: 12px;
  /* text-align: center; */
 text-align: center;
  padding-top: 30px;
}
/* html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #1f1f1f, #323231, rgb(82, 81, 80), #323222);
      background-size: 800% 800% ;
      animation: gradient 15s ease infinite;
  
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  } */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .abt1 {
    margin-top: -21%;
}
.perk1{
  margin-top: -20%;
}
  /* .about{
      grid-template-columns: auto;
    } */
  .about .abt2 {
    display: none;
  }
  .perk1,
  .perk2,
  .perk3,
  .perk4 {
    grid-template-columns: auto;
    /* justify-content: center; */
    text-align: center;
  }
  .perk2{
    grid-column: 2 / 1;
    flex-direction: row-reverse;

  }
  .img2 img,.img1 img,.img3 img,.img4 img{
    width: 320px;
    margin-bottom: 30px;
    
    /* display: none; */
  }
  #broo{
    margin-left: 18%;
  }
  .img3 {
    padding-right: 30px;
    margin-left: 25px;
    margin-top: 0px;
  }
  .con4 {
    margin-left: 15%;
    padding-right: 0px;
    margin-bottom: 25px;
  }
}


