
/* about-muacm */
#about-muacm ul {
    font-family: "Montserrat", sans-serif;
    padding: 40px;
    color: rgba(255, 255, 255, 0.733);
    padding-top: 0px;
    font-weight: 400;
    justify-content: center;
    text-align: left;
  }

  /* about-why-muacm */
#about-why-muacm ul{
    font-family: "Montserrat", sans-serif;
    padding: 40px;
    color: rgba(255, 255, 255, 0.733);
    padding-top: 0px;
    font-weight: 400;
    justify-content: center;
    text-align: left;
}
.research-ul h3{
    padding: 10px 0px;
}
.research-ul {
    list-style: none; 
  }
.research-ul li:before{
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: rgb(22, 169, 228); /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
}
/* joinUs-btn */
.joinUs-btn{
    width: 250px;
    margin: auto;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 30px;
}
/* Content-img */
.content-img{
  margin-top: 80px;
}

/*  about-research*/
#about-research{
  display: grid;
  grid-template-columns: auto auto;
}

/* Research-for-undergraduate */
#Research-for-undergraduate
{
  display: grid;
  grid-template-columns: auto auto;
}
#research-img{
  margin-top: 55px;
}

/* Career-Benefits */
#Career-Benefits{
  display: grid;
  grid-template-columns: auto auto;
  
}

/* Research@MUACM */
#Research-MUACM{
  display: grid;
  grid-template-columns: auto auto;

}
/* profile-img */
#profile-img{
  /* width: 400px; */
  margin-top: 90px;
}

/* box */
#card-container{
  display: grid;
  grid-template-columns: auto auto auto;
}

/* card */
.card{
  /* position: relative; */
  width: 380px;
  height: 490px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.205);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  /* backdrop-filter:blur(4px); */
}
.card .content{
  /* padding: 10px; */
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  
}

/* PERKS */

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.perk-img{
  width: 22rem;
}

.perk-img-png{
  width: 14rem;
}

.p-1{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* Scrolling effect*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

