@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  color: #fff !important;
  margin: 0;
  background-color:#1f1f1f; 
  background-size:100%;
  font-family:'Montserrat', sans-serif;
  text-shadow: #4f4f4f !important;
}


#main {
  position: relative;
  padding-top: 80px;
  margin-bottom: -170px;
  background-color: #1e1e1e;
  text-align: center;
}


/* HOME SECTION */
#home {
  display: flex;
  flex-direction: column;
  padding: 200px 10vw;
  height: 35%;
  justify-content: center;
  align-items: center;
  margin-bottom: -5rem;
}

#home h1 {
  color: rgba(255, 255, 255, 0.938);
  font-size: 50px;
  text-align: center;
  letter-spacing: 1.5px;
  font-family:'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.3em;
  padding-top: 15rem;
}
#home > .social{
  display: flex;
  display: grid; 
  grid-template-columns: auto auto auto;
}
.social div{
  margin: 1.5em 2.5em;

}
/* BUTTON */

div[class*="box"] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .box-2 { background-color: #3C3C3C; } */

.btn {
  padding: 18px 22px;
  font-weight: 700;
  font-size: 22px;
  
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.btn:hover{
  background-color: white;
  box-shadow: 2px 2px 20px 2px rgba(255, 255, 255, 0.123) ;
}
.btn a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}


/* Counter */

.counter-body {
  background-color: black;
  color: #fff;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  overflow: hidden;
  margin: 30px;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

.fa-instagram{
  color: #CC3D89;
}
.fa-discord{
  color: #5562EA;
}
.fa-youtube{
  color: #f60000;
}
.fa-linkedin{
  color: #0077B5;
}
.fa-github{
  color: #1B1F23;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}


/* Card popup */
a{
	outline: 0;
	text-decoration: none;
}
.modal-bg{
	position:fixed;
	left:0;right:0;
	top:0;bottom:0;
	z-index:100;
	background-color:rgba(50,50,50,0.5);
}

.button_pop{
	padding: 8px 12px;
	margin-top: 15px;
	background: #FABD29;
	border: none;
	color: black;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer;
  text-align: center;
  display: block;
}

.button_pop:hover{
	background-color: #5DC3A7;
}
#modal{ 
	position:absolute;
	background-color:#353945;
	background-color:#33485D;
	top:50%; 
	left:50%;
	z-index:101;
	border-radius:5px;
	width:360px;
	height:310px;
	margin-top:-130px;
	margin-left:-170px;
	border-bottom: 4px solid #5DC3A7;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
}

#modal span{
	display: block;
	background: #353945;
	padding: 10px;
	color: #fff;
  font-weight: 700;
  font-size: 20px;
}
#close{
	float: right;
	color: #fff;
  margin-top:-4px;
	font-family: serif;
	font-size: 20px;
}
#close:hover{
	color:gray;
}


/* *****ABOUT***** */

#about {
  display: flex;
  flex-direction: column;
  padding: 0px 7vw;
  height: 35%;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;

  /* background-color: #1e1e1e; */
/* background-image: linear-gradient(315deg, #130f40 0%, #000000 74%); */
}

#about h2 {
  font-family:'Montserrat', sans-serif;
  /* color: rgba(255, 255, 255, 0.938);   */
  /* color: #1dca7f;  */
  font-weight: 800;
  color: rgba(255, 255, 255, 0.877);
  justify-content: center;
  font-weight: 700;
  display: flex;
}

#about p {
  font-family: "Montserrat", sans-serif;
  padding: 40px;
  color: rgba(255, 255, 255, 0.733);
  padding-bottom: 10px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
}

#about-acm{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
}
#about-acm div{
  margin: auto;
}
.about-acm-youtube iframe{
  border-radius: 15px;
  width: 30vw;
} 

/* *****EVENTS***** */

#events {
  display: flex;
  flex-direction: column;
  /* padding: 0px 120px; */
  height: 35%;
  justify-content: center;
  align-items: center;

}

#events h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  justify-content: center;
  font-weight: 600;
}

#events p {
  font-family: "Montserrat", sans-serif;
  padding: 40px;
  text-shadow: #4f4f4f;
  
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.856);
  justify-content: center;
  text-align: justify;
  font-weight: 300;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}

.container .card{
  
  /* position: relative;  */
  width: 380px;
  /* height: 400px; */
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.205);
  border-radius: 18px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: rgba(255, 255, 255, 0.075);
  /* overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */
  border-top: 2px solid rgba(199, 188, 188, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  /* backdrop-filter:blur(4px); */
  
}

.container .card .content{
  /* padding: 10px; */
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  
}

.card > .content > h3{
  margin-top: 1em;
  color: #ffbf42;
  font-weight: 600;
  font-family:'Montserrat', sans-serif;
  font-size: 28px;
}
.btn-div{
    margin: 50px 1.5em;    
}

.btn-event{
  border-radius: 5px;
  font-weight: 650;
  text-decoration: none;
  padding: 10px 50px;
  /* margin:20px;
  margin-top: 50px; */
  /* width: 10vw; */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.205);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color:#82C91E;
}
.btn-event:hover{
  background: white;
  cursor: pointer;
  transition: all 0.3s linear;
  color: black;
}



/* Scrolling effect*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .container{
    display: grid;
    grid-template-columns: auto auto;
  }
  #about-acm{
    display: grid;
    grid-template-columns: auto;
  }
    .about-acm-youtube iframe{
      width: 80vw;
      margin-bottom: 30px;
    }
    #home > .social{
      text-align: center;
        display: grid; 
      grid-template-columns: auto;
    }
}

@media screen and (min-width: 1000px){
  #home > .social {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto ;
}
}

/* @media screen and (max-width: 2000px){
  .sign{
    top:18%;
  }
} */

@media screen and (max-width: 980px) {
  .container{
    display: grid;
    grid-template-columns: auto;
  } 
  .about-acm-youtube iframe{
    width: 80vw;
  }
  .popup .popuptext {
    bottom: 94% !important;
  }
  .popup_img{
    width: 70vw !important;
  }
  

}
@media screen and (max-width: 500px) {
  #home h1{
    font-size: 45px;
  }
  .about-acm-youtube iframe{
    width: 90vw;
  }
  .container .card{
    margin: 30px 0px;
    width: 310px;
  }
  #main{
    display: none;
  }
  .popup .popuptext {
    bottom: 94% !important;
  }
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 94%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}