@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
   margin: 0;
   padding: 0;
   /* box-sizing: border-box; */
   font-family: 'Bellota Text', cursive;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%; 
   flex-wrap: wrap;
   /* background-color: rgb(29, 28, 28); */
   background-color: #1e1e1e;
   background-image: url("/img/bg/bg5.jpg");
   background-size: 100%;
   
  /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
}


/* section::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   left: 0;
   background: linear-gradient(#f00, #f0f);
   clip-path: circle(20% at right 50%);
}  */

/* section::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   left: 0;
   background: linear-gradient(#FDC830, #e91e63);
   clip-path: circle(15% at 0% 40%);
}  */

.container {
   /* position: relative;
   z-index: 1; */
   display: grid;
   grid-template-columns: auto;
   justify-content: center;
   align-items: center;
   /* flex-wrap: wrap; */
   margin-top: 10em;
}

.container-mentor {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.container-council {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.container-core {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.container-exec {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.card {
   width: 350px;
   height: 390px;
   padding: 40px 30px;
   margin: 20px;
   /* background-color: rgb(29, 28, 28); */
   background-color: #323231;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.74);
   /* backdrop-filter: blur( 8px ); */
   /* -webkit-backdrop-filter: blur( 8px); */
   border-radius: 15px;
   
}

.card .content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   opacity: .5;
   transition: 0.4s;
   height: 420px;
   border-radius: 15px;
   /* background-color: rgb(29, 28, 28);  */
   background-color: #323231; 
   
}

.card:hover .content{
   opacity: 1;
   transition: 0.5s;
   transform: translateY(-30px);
   
}


.card .content .imgBx {
   width: 180px;
   height: 180px;
   border-radius: 75%;
   /* position: relative; */
   margin-bottom: 20px;
   overflow: hidden;
   border: 10px solid rgba(0,0,0,0.25);
   box-shadow: 0 2px 38px rgba(0, 0, 0, 0.24);
   
}

.card .content .imgBx img {
   /* position: absolute; */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* object-fit: cover; */
}

.card .content .contentBx h4 {
   color: white;
   text-transform: uppercase;
   /* letter-spacing: 1.5px; */
   line-height: 1.8em;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   margin-top: 10px;
   /* margin-bottom: 15px; */
   font-weight: 800;
}

.card .content .contentBx h5 {
   color: rgba(255, 255, 255, 0.589);
   letter-spacing: 1.2px ;
   font-size: 1.2rem;
   text-align: center;
   margin-bottom: 15px;
   font-weight: 800;
}

.card .content .sci{
   position: relative;
   /* top: 40px; */
    /* bottom: 1px;  */
   display: flex;
}

.card .content .sci li{
   list-style: none;
   transform: translateY(40px);
   transition: 0.4s;
   opacity: 0;
   transition-delay: calc(0.1s * var(--i));
}

.card:hover .content .sci li 
{
   transform: translateY(1px);
   opacity: 1;
}

.card .content .sci li a{
   font-size: 30px;
}

.card .content .sci a {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.493);
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
/* .card:hover + .card .content .sci:hover
{
   display: block;
} */
/* .card .content .sci
{
   display: none;
} */

.sci .fa-linkedin:hover {
   color: #037ab6;
}
.sci .fa-instagram:hover{
   color: #a80284bd;
}
.sci .fa-github:hover{
   color: white;
}


@media screen and (max-width: 1400px) {
   .container-council {
      display: grid;
      grid-template-columns: auto auto;
   }
   
   .container-core {
      display: grid;
      grid-template-columns: auto auto;

   }
   
   .container-exec {
      display: grid;
      grid-template-columns: auto auto;
   }
}
@media screen and (max-width: 900px) {
   .container-council {
      display: grid;
      grid-template-columns: auto;
   }
   
   .container-core {
      display: grid;
      grid-template-columns: auto;

   }
   
   .container-exec {
      grid-template-columns: auto;
   }
   .container-mentor {
      display: grid;
      grid-template-columns: auto;
   }
}
@media screen and (max-width: 500px) {

   body{
      background-size: 200%;
   }
   .card {
      width: 250px;
   }
}
