@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
   margin: 0;
   padding: 0;
   /* box-sizing: border-box; */
   font-family: 'Bellota Text', cursive;
}

body {
   /* display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%; */
   background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.container {
   display: grid;
   grid-template-columns: auto;
   justify-content: center;
   align-items: center;
   /* flex-wrap: wrap; */
   margin-top: 10em;
}

.container-mentor {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.container-council {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.container-core {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.container-exec {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   margin-top: 10em;
}

.card {
   width: 350px;
   height: 340px;
   padding: 60px 30px;
   margin: 20px;
   /* border-radius: 14px; */
   /* background: rgba( 255, 255, 255, 0.3 ); */
   box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.185);
   /* backdrop-filter: blur( 8px ); */
   /* -webkit-backdrop-filter: blur( 8px); */
   border-radius: 10px;
   border: 1px solid rgba(189, 188, 188, 0.18);
}

.card .content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card .content .imgBx {
   width: 180px;
   height: 180px;
   border-radius: 50%;
   /* position: relative; */
   margin-bottom: 20px;
   overflow: hidden;
   /* box-shadow: 0 29px 38px rgba(0, 0, 0, 0.24); */
}

.card .content .imgBx img {
   /* position: absolute; */
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* object-fit: cover; */
}

.card .content .contentBx h4 {
   color: #36187d;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   /* letter-spacing: 1.5px; */
   margin-bottom: 20px;
   font-weight: 800;
}

.card .content .contentBx h5 {
   color: #1a1b1b;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
   margin-bottom: 20px;
   font-weight: 800;
}
.card .content .sci a {
   text-decoration: none;
   color: #27282b;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
/* .card:hover + .card .content .sci:hover
{
   display: block;
} */
/* .card .content .sci
{
   display: none;
} */

.fa-linkedin:hover {
   color: #037ab6;
}
.fa-instagram:hover{
   color: #a80284bd;
}
.fa-github:hover{
   color: black;
}


@media screen and (max-width: 1400px) {
   .container-council {
      display: grid;
      grid-template-columns: auto auto;
   }
   
   .container-core {
      display: grid;
      grid-template-columns: auto auto;

   }
   
   .container-exec {
      display: grid;
      grid-template-columns: auto auto;
   }
}
@media screen and (max-width: 900px) {
   .container-council {
      display: grid;
      grid-template-columns: auto;
   }
   
   .container-core {
      display: grid;
      grid-template-columns: auto;

   }
   
   .container-exec {
      grid-template-columns: auto;
   }
   .container-mentor {
      display: grid;
      grid-template-columns: auto;
   }
}
@media screen and (max-width: 500px) {
   .card {
      width: 250px;
   }
}
